.App {
  text-align: center;
}

.App-header {
  background-color: #003610;
  padding: 20px;
  color: rgb(0, 120, 8);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links-left {
  display: flex;
  gap: 20px;
}

.nav-links-right {
  display: flex;
  gap: 20px;
}

.nav-link {
  color: rgb(232, 0, 0);
  text-decoration: none;
  font-weight: bold;
}

.nav-link:hover {
  text-decoration: underline;
}

/* Header Styles */
.app-header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

/* Левая часть Header */
.header-left {
  display: flex;
  align-items: center;
}

.header-logo {
  width: 50px;
  height: auto;
  margin-right: 20px;
}

/* Ссылки */
.nav-link {
  margin-right: 15px;
  font-size: 1rem;
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease, transform 0.3s ease;
}

.nav-link:hover {
  color: #007bff;
  transform: scale(1.1);
}

/* Правая часть Header */
.header-right {
  display: flex;
  align-items: center;
}

.header-right .nav-link {
  font-weight: bold;
}

